{% extends 'base.html.twig' %}

{% block title %}Бронювання{% endblock %}

{% block body %}
    <h1>Бронювання</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>#</th>
            <td>{{ reservation.id }}</td>
        </tr>
        <tr>
            <th>Початок</th>
            <td>{{ reservation.startsAt ? reservation.startsAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Кінець</th>
            <td>{{ reservation.reservedFor ? reservation.reservedFor.format('%d day(s) %h hour(s)') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">повернутися до списку</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">редагувати</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
